body{
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center; 
}
.a{
    position: relative;
    top: 35px;
    left: 950px;
}
.a:hover .b{
    transform: rotateY(180deg);
}
.b{
    border-radius: 15px 80px;
    width: 300px;
    height: 300px;
    background-color: #000;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    background-image: url("动头像.gif");
    transition: 1.5s;
    box-shadow: 0 0 20px #000;
}
.c,.d{
    position: absolute;
    left:25px;
    top:15px;
    color: rgba(255,255,255,.8);
    font:900 50px '';
    /* 设置字体间距 */
    letter-spacing: 10px;
    line-height: 60px;
}
.c{ 
    transform:translateZ(70px);
}
.d{
    transform:translateZ(-70px) rotateY(180deg);
}